$primary: #8e6c88;
$secondary: #d4b8c7;

$accent-color: #a5c4d4;
$body-bg: #f9f7f8;
$white: #fff;
$text-color: #333;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark
);


/* Пример: замена шрифта */
$font-family-base: 'Montserrat', sans-serif;