$primary: #8e6c88;
$secondary-color: #d4b8c7;
$accent-color: #a5c4d4;
$body-bg: #f9f7f8;
$white: #fff;
$text-color: #333;

$color-border: #cfcfcf;
$color-border-hover: #8c8c8c;
$color-primary: #1d5cbb;
$color-white: #ffffff;


/* Пример: замена шрифта */
$font-family-base: 'Montserrat', sans-serif;
