/* Переопределение переменных (если нужно) */
/* Variables */
@import "variables";

/* Импорт всего Bootstrap */
@import "bootstrap/scss/bootstrap";

// --- Пользовательские стили для Hero Section ---

.hero-bg-img {
    background: url('/src/assets/images/bg-home.jpg') no-repeat top center;
    background-size: cover; // Растянуть по ширине, обрезая по высоте

    height: 500px !important;

    @include media-breakpoint-down(md) {
        background-size: contain; // Растянуть по ширине, обрезая по высоте
        height: 350px !important;
    }
}

.section-separator {
    display: block;
    width: 100%;
    height: 100px;

    // Фоновое изображение
    background: url('/src/assets/images/bg-separator.png') no-repeat center center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

    // Если нужно, чтобы внутри разделителя не было текста
    text-indent: -9999px;
}

.footer-bg {
    background: url('/src/assets/images/bg-footer.jpg') no-repeat bottom center;
    background-size: contain; // Растянуть по ширине, обрезая по высоте
}

@include media-breakpoint-down(md) {
    .footer-bg {
        background: url('/src/assets/images/bg-footer-slim.jpg') no-repeat bottom center;
        background-size: contain;
    }
}

.dotted-divider {
    border: none; // Удаляем стандартную границу
    height: 1px; // Задаем высоту
    width: 100%; // Ширина линии
    opacity: 0.7;

    // Создаем пунктирную линию
    // border-top - предпочтительнее для <hr>, чем border-bottom
    border-top: 1px dotted $dark;

    // Переопределяем стандартные Bootstrap отступы (my-2 уже в HTML)
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
}

.big-margin {
    margin-top: 130px;

    @include media-breakpoint-down(md) {
        margin-top: 70px;

    }
}