$spacer: 1rem;
$spacers: (
    0: 0,
    1: $spacer * .25,
    2: $spacer * .5,
    3: $spacer,
    4: $spacer * 1.5,
    5: $spacer * 3,
    6: $spacer * 4,
    7: $spacer * 5,
    8: $spacer * 6,
    9: $spacer * 7,
    10: $spacer * 8,
);

@import "bootstrap/scss/bootstrap";
@import "fade";

// Индикатор скролла
.scroll-indicator {
    .mouse {
        width: 30px;
        height: 50px;
        border: 2px solid white;
        border-radius: 20px;
        position: relative;

        .wheel {
            width: 4px;
            height: 10px;
            background: white;
            border-radius: 2px;
            position: absolute;
            top: 10px;
            left: 50%;
            transform: translateX(-50%);
            animation: scroll-wheel 2s infinite;
        }
    }
}

@keyframes scroll-wheel {
    0% {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateX(-50%) translateY(20px);
    }
}

.font-serif {
    font-family: 'Merriweather', 'Times New Roman', Times, Georgia, serif;
}

.map-width {
    width: 600px;
}

.circle-size {
    width: 3rem !important;
    height: 3rem !important;
}