@import "bootstrap/scss/bootstrap";
@import "fade";

// Индикатор скролла
.scroll-indicator {
    .mouse {
        width: 30px;
        height: 50px;
        border: 2px solid white;
        border-radius: 20px;
        position: relative;

        .wheel {
            width: 4px;
            height: 10px;
            background: white;
            border-radius: 2px;
            position: absolute;
            top: 10px;
            left: 50%;
            transform: translateX(-50%);
            animation: scroll-wheel 2s infinite;
        }
    }
}

@keyframes scroll-wheel {
    0% {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateX(-50%) translateY(20px);
    }
}